<% content_for :breadcrumbs do %>
  <li><a href="<%= deployments_path %>">Deployments</a></li>
  <li>New deployment</li>
<% end %>

<div class="bg-base-200 py-12 px-4">
  <div class="max-w-2xl mx-auto">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">New deployment</h2>
        <%= form_with url: deployments_path, method: :post, class: "space-y-6" do |f| %>
          <div>
            <label for="name" class="label">Name</label>
            <input 
              type="text" 
              name="name" 
              id="name" 
              required
              class="input input-bordered w-full mt-1"
              placeholder="e.g. cool-test"
            />
          </div>

          <div>
            <label for="docker_image" class="label">Docker image</label>
            <input 
              type="text" 
              name="docker_image" 
              id="docker_image" 
              required
              class="input input-bordered w-full mt-1"
              placeholder="e.g., nginx:latest or your-registry/image:tag"
            />
          </div>

          <div class="card-actions justify-end">
            <a href="<%= deployments_path %>" class="btn btn-ghost">
              Cancel
            </a>
            <button type="submit" class="btn btn-primary">
              <%= phosphor_icon "plus", height: 20 %>
              Create deployment
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
